body {
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    line-height: 1;
  }
  
  .lead {
    font-size: 23px;
  }
  .event {
    background: transparent;
    border: none;
    resize: none;
    color: #e9e2d0;
    border-left: 2px solid black;
    padding: 10px;
    
  }
  
  .jumbotron {
    text-align: center;
    background-color:#262949;
    color: #e9e2d0;
    border-radius: 0;
    border-bottom: 10px solid #e9e2d0;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-bottom: 5px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 30px;  
  }
  
  .past {
    background-color: #065459;
    color: #e9e2d0;
  }
  
  .present {
    background-color:  #abd36d;
    color: #e9e2d0;
  }
  
  .future {
    background-color: #39b984;
    color: #e9e2d0;
  }
  
  .save-btn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #262949;
    color: #e9e2d0;
  }
  
  .save-btn:hover {
    color: white;
    transition: all 0.3s ease-in-out;
  }